.oiga {
  background: #222;
  color: white;
  font-family: sans-serif;
  text-align: left;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1000;
}

.oiga--top {
  top: 0;
  bottom: auto;
}

.oiga__message {
  flex: 1;
  min-width: 250px;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
.oiga__message a {
  color: white;
}

.oiga__button {
  margin: 0 0 0 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.oiga__button:hover {
  opacity: 0.8;
}

.oiga__button:active {
  opacity: 0.5;
}

.oiga__button--accept {
  background: #73C74A;
  color: #19330D;
}

.oiga__button--deny {
  background: transparent;
  color: white;
}
